@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'), url(../assets/fonts/OpenSans-Regular.ttf) format('truetype');
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

header {
    background-color: #181a1b;
    color: white;
    padding: 1em;
    width: 100%;
}

header > div {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

main {
    padding: 1em;
    width: 100%;
}

main > div {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    padding-top: 0.8em;
}

.navbar {
    width: 100%;
}

.navbar > ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-bottom: 1em;
}

.navbar li {
    cursor: pointer;
    font-size: 1.2em;
}

.navbar a {
    color: black;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.input-wrapper label {
    margin-top: 0.6em;
}

.feedback-wrapper {
    margin: 1em 0;
    text-align: center;
}

.feedback-wrapper p {
    min-height: 23px;
}