@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'), url(../assets/fonts/OpenSans-Regular.ttf) format('truetype');
}

:root {
    --bg-color: #fff;
    --font-color: black;
}

[data-theme="dark"] {
    --bg-color: rgb(33, 35, 37);
    --font-color: white;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
}

header {
    background-color: rgb(24, 26, 27) ;
    color: white;
    padding: 1em;
    width: 100%;
}

header > div {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.theme-switch-wrapper {
    align-items: center;
    display: flex;
    margin-left: 1em;
}

.theme-switch {
    display: inline-block;
    height: 24px;
    position: relative;
    width: 44px;
}
  
.theme-switch input {
    display:none;
}

.slider {
    background-color: #fff;
    border-radius: 34px;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #626262;
    border-radius: 50%;
    bottom: 4px;
    content: "";
    height: 16px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 16px;
}

input:checked + .slider {
    background-color: #626262;
}

input:checked + .slider:before {
    background-color: #fff;
    transform: translateX(20px);
}


main {
    color: var(--font-color);
    padding: 1em;
    width: 100%;
}

main > div {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    padding-top: 0.8em;
}

.navbar {
    width: 100%;
}

.navbar > ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-bottom: 1em;
}

.navbar li {
    cursor: pointer;
    font-size: 1.2em;
}

.navbar a {
    color: var(--font-color);
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.input-wrapper label {
    margin-top: 0.6em;
}

.input-wrapper input {
    padding: 8px;
}

.button-wrapper {
    margin-top: 0.6em;
    text-align: center;
}

.button-wrapper button {
    padding: 8px;
    width: 100%;
}

@media (min-width: 600px) {
    .button-wrapper button {
        width: auto;
    }
}

@media (min-width: 600px) {
    .button-wrapper button {
        width: auto;
    }
}

.feedback-wrapper {
    margin: 1em 0;
    text-align: center;
}

.feedback-wrapper p {
    min-height: 23px;
}

.formula {
    text-align: center;
}

.formula span {
    font-weight: bold;
}

footer {
    background-color: rgb(24, 26, 27) ;
    color: white;
    padding: 1em;
    width: 100%;
}

footer > div {
    text-align: center;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

footer a {
    color: white;
}